.section-inicio{
    background-color: #C9FBFA;
    height: 92vh;
}
.section-inicio div{
    display: flex;
    justify-content: center;
    /* padding: 72px; */
}

.section-sobreNos{
    background-color: #99EBE9;
    height: 100vh;
    display: flex;
    align-items: center;
}
.section-equipe{
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}
.espaco{
    height: 15vh;
}
footer{
    background-color: blueviolet;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 5vh;
}