section{
    height: 100vh;
}
.section-inicio{
    background-color: #C9FBFA;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.section-inicio div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 72px; */
}
.imagem{
    height: 100%;
    width: 90%;
}

.section-sobreNos{
    background-color: #99EBE9;
    height: 100vh;
    display: flex;
    align-items: center;
}
.section-equipe{
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}
.espaco{
    height: 10vh;
}
.footer{
    display: flex;
    height: 10vh;
    width: 100%; 
    
}
footer{
    background-color: blueviolet;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.content {
    color: cornsilk;
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
    z-index: 9;
  }
  
  
  