.social-container{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 40px;   
    font-size: 2rem;
}
.tudo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 15px;
}